 body{
            font-family: Arial, sans-serif;
            background-color: rgb(255, 255, 255);
        }
 
        .toplink{
            background-color: rgb(51, 51, 50);
            overflow: hidden;
        }      
        .toplink a{
            color: #ffffff;
            float: left;
            display: block;
            text-decoration: none;
            text-align: left;
            padding:14px 16px;
        } 
        .toplink a:hover>{
            background-color: #ffffff;
            color: rgb(51, 51, 50);
            text-decoration: none;

        }
        .toplink-right{
            float: right;
        }

        form{
           margin: 20px;
           background:grey;
           padding: 20px;
           margin: 10%;
           align-items: center;
           justify-content: center;

           

        }